<ul class="nav doc-menu">
    {% for section in site.data.docs %}
        <li class="{% if page.doc_section_id == section.doc_section_id %}active{% endif %}">
            <a>{{ section.title }}</a>
            <ul class="nav doc-sub-menu">
                {% for document in section.docs %}
                    {% assign document_url = document.permalink | prepend: section.prefix | prepend: "/docs/" | append: "/" %}
                    {% assign item = site.docs | where: "url", document_url | first %}

                    <li>
                        <a href="{{ item.url | prepend: site.baseurl }}"
                           class="{% if document_url == page.url %}active{% endif %}"
                        >
                            {{ item.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>