{% assign docs = site.data.docs %}

{% comment %}
    We need to get the total number of pages there are to determine
    if we are in the last iteration of each loop later.
{% endcomment %}

{% assign total = 0 %}
{% assign doc_urls = site.emptyArray %}

{% for section in docs %}
    {% assign section_size = section.docs | size %}
    {% assign total = total | plus: section_size %}

    {% for document in section.docs %}
        {% assign document_url = document.permalink | prepend: section.prefix | prepend: "/docs/" | append: "/" %}
        {% assign doc_urls = doc_urls | push: document_url %}
    {% endfor %}
{% endfor %}

{% assign index = 0 %}

{% for document_url in doc_urls %}
    {% if document_url == page.url %}
        <ul class="pager">
            {% if forloop.index0 > 0 %}
                {% assign previous = forloop.index0 | minus: 1 %}
                {% assign previous_url = doc_urls[previous] %}
                {% assign previous_document = site.docs | where: "url", previous_url | first %}

                <li class="previous">
                    <a href="{{ previous_url | prepend: site.baseurl }}">
                        <span aria-hidden="true">&larr;</span>
                        {{ previous_document.title }}
                    </a>
                </li>
            {% endif %}

            {% if forloop.index < total %}
                {% assign next = forloop.index0 | plus: 1 %}
                {% assign next_url = doc_urls[next] %}
                {% assign next_document = site.docs | where: "url", next_url | first %}

                <li class="next">
                    <a href="{{ next_url | prepend: site.baseurl }}">
                        {{ next_document.title }}
                        <span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
{% endfor %}